<%- include('../partials/header'); %>

    <main class="main main-home container">
        <h2 class="main-h2 text-center text-capitalize">welcome to css color names</h2>
        <img src="https://tse3.mm.bing.net/th?id=OIP.1fDTlJvdRSbnoO3erIQTHAHaDt&pid=Api&P=0&w=1000&h=900" alt="home image" class="img-fluid home-image">
    </main>

<%- include('../partials/footer'); %>